<a href="https://colab.research.google.com/github/jifanajif/pythonbasic/blob/main/untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter the number "))
if num<0:
  print("the value is",num*-1)
else:
  print("the value is",num)

enter the number 20
the value is 20

In [ ]:
mark=int(input("enter the marks"))
if mark<25:
  print("the grade is f")
if mark>25 and mark<45:
  print("the grade is e")
if mark>45 and mark<50:
  print("the grade is d")
if mark>50 and mark<60:
  print("the grade is c")
if mark>60 and mark<80:
  print("the grade is b")
else:
  print("the grade is a")

enter the marks92
the grade is a

In [ ]:
numclss=int(input("enter the number of classes held "))
att=int(input("enter the number of classes attended "))
x=numclss/att*100
if x<75:
  print("the student is not allowed to sit in exam ")
else:
  print("the student is allowed to sit in class ")

enter the number of classes held 100
enter the number of classes attended 88
the student is allowed to sit in class

In [ ]:
add1=int(input("enter the first number "))
add2=int(input("enter the second number "))
x=add1+add2
print("the sum is",x)

enter the first number 2
enter the second number 8
the sum is 10

In [ ]:
sub1=int(inpu)

In [ ]:
sub1=int(input("enter the first number "))
sub2=int(input("enter the second number "))
x=sub1-sub2
print("the substraction is",x)

enter the first number 10
enter the second number 5
the substraction is 5

In [ ]:
mult1=int(input("enter the first number "))
mult2=int(input("enter the second number "))
x=mult1*mult2
print("the multiplication is",x)

enter the first number 20
enter the second number 10
the multiplication is 200

In [ ]:
div1=int(input("enter the first number "))
div2=int(input("enter the second number "))
x=div1/div2
print("the division is",x)

enter the first number 20
enter the second number 2
the division is 10.0

In [ ]:
mod1=int(input("enter the first number "))
mod2=int(input("enter the second number "))
x=mod1%mod2
print("the modulus is",x)

enter the first number 50
enter the second number 2
the modulus is 0

In [ ]:
floor1=int(input("enter the first number "))
floor2=int(input("enter the second number "))
x=floor1//floor2
print("the floor division  is",x)

enter the first number 200
enter the second number 2
the floor division  is 100

In [ ]:
exp1=int(input("enter the first number "))
exp2=int(input("enter the second number "))
x=exp1**exp2
print("the exponent is",x)

enter the first number 525
enter the second number 5
the exponent is 39883798828125

In [ ]:
name=input("enter the name ")
for i in name:
  print(i)

enter the name jif
j
i
f

In [ ]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87