<a href="https://colab.research.google.com/github/jifanajif/pythonbasic/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pts=input("enter the source:")
ptd=input("enter the destination:")
numb=int(input("enter the number of persons:"))
print(pts)
print(ptd)
print(numb)

enter the source:trip india
enter the destination:delhi
enter the number of persons:10
trip india
delhi
10

In [4]:
totfare=int(input("enter the total fare:"))
totnumb=int(input("enter the number"))
d=totfare//totnumb
print("ticket per person is",d)

enter the total fare:5000
enter the number10
ticket per person is 500

In [29]:
p1=input("enter the name:")
f1=int(input("enter the fare:"))
p2=input("enter the name:")
f2=int(input("enter the fare:"))
print(p1,f1)
print(p2,f2)

enter the name:jif
enter the fare:200
enter the name:anu
enter the fare:300
jif 200
anu 300

In [31]:
totfare=int(input("enter the tot fare:"))
if totfare>10000:
  print("eligible for discount")
else:
  print("not eligible for discount")

enter the tot fare:5000
not eligible for discount

In [32]:
tottick=int(input("enter the tot ticket fare:"))
if tottick>15000:
  print("eligible for 20% discount")
else:
  print("not eligible for 20% discount")

enter the tot ticket fare:20000
eligible for 20% discount

In [34]:
t=int(input("enter the fare:"))
if t>15000:
  s=t*20/100
  print("apply 20% discount",s)
if t>10000:
  n=t*10/100
  print("apply 10% discount",n)
if t<10000:
  c=t*5/100
  print("apply 5% discount",c)

enter the fare:20000
apply 20% discount 4000.0
apply 10% discount 2000.0